/* Order */

    /* Visibility
    Display
        Flexbox
    Position
    Size
    Margin/Padding/Border
    Transform
    Overflow/Scroll
    Background
    Text
    Transition */


/* Contents */



/* Import font */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&display=swap');

/* Define variables */

    :root {
        --navPadding: 2.25vw;
        
        --offWhite: #FAFAFF;
        --lightBlue: #A1D1De;
        --darkBlue: #47A8BD;
        --darkGrey: #30343F;
    }

/* Universal reset */

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

/* Cross site */
    
    /* Body */

        body {
            width: 100vw;
            height: 100vh;

            background: var(--offWhite);
        }

        .wrapper {
            position: relative;

            width: 100vw;
            height: 100vh;

            overflow: hidden;
        }

    /* Text */

        /* Font and colour */
    
            body, input, textarea, button {
                font-family: 'Outfit', sans-serif;
            }

            body, a, h1, h3, h4, label, input, textarea, button {
                color: var(--darkGrey);
            }
    
        /* Size and spacing */

            body, a, h1, h3, h4, label, button {
                font-weight: 400;
            }

            body, button {
                letter-spacing: .3rem;
            }
        
            h1, .header {
                font-size: 4rem;
            }

            h3, a, label, button {
                font-size: 2rem;
            }
            
            h4 {
                font-size: 1.25rem;
            }

            p, p a {
                font-size: 1.25rem;
                letter-spacing: .125rem;
            }

    /* Links and menu items */
    
        a {
            text-decoration: none;
        }

        p a {
            text-decoration: underline;
        }

        a:hover, .ocean h3:hover {
            text-decoration: underline;
            text-decoration-thickness: 3px;
        }

        a, h3 {
            padding-left: .3rem;
        }

    /* Navbar */
        
        /* Sets display/height for nav and main */
            
            nav {
                height: 10vh;
            }

            main {
                display: flex;

                height: 90vh;
            }    
        
        /* Menu */
        
            #menu {
                transition: right 1000ms, opacity 900ms;
            }

            #menu li {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }

            nav a:hover {
                text-decoration: none;
            }
        
            /* Sets underline effect for menu items on hover */
    
                nav ul li {    
                    border-bottom: 0px solid var(--lightBlue);

                    transition: 180ms;
                }

                nav ul li:hover {
                    border-bottom: 6px solid var(--lightBlue);
                }

                #currentPage {
                    border-bottom: 6px solid var(--darkBlue);
                }

                #currentPage:hover {
                    border-bottom: 0px solid var(--darkBlue);
                }

            /* Button to toggle menu on smaller screens */

            
                #menuButtonContainer {
                    width: 2.4rem;

                    margin-right: var(--navPadding);

                    z-index: 101;
                }

                #menuButton {
                    display: none;

                    width: 2.4rem;

                    padding: 0;
                    margin: 0;

                    border: none;
                    background: none;

                    text-align: right;

                    transition: 1000ms;
                }

                #menuButton:hover {
                    border: none;
                }

/* Index */
                
    #indexMenu span {
        margin: 2rem 0;
    }
    
    #indexTitle, #indexMenu {
        padding-left: 5rem;
    }

    #indexTitle, #indexMenu, #explore, #goHome {
        transition: opacity 900ms;
    }

/* About */

    /* Ocean image */
    
        #aboutImage {
            height: 80vh;
        }
            
    /* Bio section */

        #aboutTextContainer {
            height: 75%;
        }

        /* Bio text */
        
            p, p * {
                margin-bottom: 1.25rem;
            }

/* Gallery */

    /* Sets size of gallery */

        #gallery {    
            width: 85vw;
            max-height: 75vh;
        }

    /* Sets size items in gallery (including invisible filler items) */

        .gallerySquare {
            width: 20.5vw;
            height: 20.5vw;
        }

    /* Styles items with content */

        .galleryContentItem {
            margin-bottom: 0.6vw;

            background-position: center;
            background-size: cover;

            transition: transform 650ms;
        }

        .galleryContentItem:hover {  
            transform: scale(1.125);
            z-index: 1;
        }

            /* Styling for content */

                .galleryContentItem h2 {
                    font-weight: 400;
                    font-size: 2rem;
                }

                .galleryContentItem a {
                    font-weight: 300;
                }

                .galleryContentItem h4, .galleryContentItem a {
                    margin: 1vw 0 1.5vw;
                
                    font-size: 1.5rem;
                }
                
                .galleryContentItem h2, .galleryContentItem h4, .galleryContentItem div {
                    opacity: 0;

                    transition: 650ms;
                }

                .galleryContentItem:hover h2, .galleryContentItem:hover h4, .galleryContentItem:hover div {
                    opacity: 1;
                }

        /* Adds margin to top row of items in gallery */

            .galleryContentItem:nth-of-type(n+1):nth-of-type(-n+4) {
                margin-top: 0.6vw;
            }

        /* Sets transform origin for items in gallery depending on their position in the gallery */

            .galleryContentItem:nth-of-type(4n-3) {
                    transform-origin: left;
                }

            .galleryContentItem:nth-of-type(4n) {
                transform-origin: right;
            }

            .galleryContentItem:nth-of-type(1) {
                transform-origin: top left;
            }

            .galleryContentItem:nth-of-type(n+2):nth-of-type(-n+3) {
                transform-origin: top;
            }

            .galleryContentItem:nth-of-type(4) {
                transform-origin: top right;
            }

        /* Overrides rules above for bottom row */

            section.full #gallery .bottomLeft {
                transform-origin: bottom left;
            }

            section.full #gallery .bottom {
                transform-origin: bottom;
            }

            section.full #gallery .bottomRight {
                transform-origin: bottom right;
            }

/* Contact */

    /* Text section */
    
        #contactText p, #contactText p a {
            font-size: 1.5rem;
        }

    /* Form section */

        .formContainer {
            width: 85%;
        }
    
        textarea {
            height: 20rem;

            resize: none;
        }

        button {        
            margin-top: .5rem;
            padding: 0 .2rem .2rem .47rem;

            background: var(--offWhite);

            font-size: 2rem;
            outline: none;
        }

        input, textarea {
            padding: 0 .5rem;

            letter-spacing: .1rem;
            line-height: 2rem;
        }
        
        form, input, textarea {
            width: 100%;
        }
        
        label, input, textarea {
            display: block;
            margin-bottom: .3rem;
        }

        input, textarea, button {
            border: 1px solid var(--darkGrey);

            transition: 200ms;
        }

        input:focus, textarea:focus {
            border: 1px solid var(--darkBlue);
            outline: none;
        }
        
        input:hover, textarea:hover, button:hover {
            border: 1px solid var(--darkBlue);
            outline: none;
        }

/* Reusable classes */

    /* Display, visibility and opacity */

        .none {
            display: none;
        }

        .flex {
            display: flex;
        }
        
        .invisible {
            visibility: hidden;
        }

        .transparent {
            opacity: 0;
        }

        .fade {
            opacity: 0.5;
        }

        /* Flexbox */

            /* Flex direction */
        
                .column {
                    flex-direction: column;
                }

            
            /* Basis */

                .flexAuto {
                    flex-basis: 50%;
                }
            
                .shrink1 {
                    flex-shrink: 1;
                }

                .shrink2 {
                    flex-shrink: 2;
                }

            
            /* Justify content */
        
                .start {
                    justify-content: flex-start;
                }

                .center {
                    justify-content: center;
                }

                .around {
                    justify-content: space-around;
                }

                .evenly {
                    justify-content: space-evenly;
                }

                .between {
                    justify-content: space-between;
                }

            /* Align items */

                .alignStart {
                    align-items: flex-start;
                }
                
                .alignCenter {
                    align-items: center;
                }

                .stretch {
                    align-items: stretch;
                }
            
            /* Align content */

                .contentStart {
                    align-content: flex-start;
                }

                .contentCenter {
                    align-content: center;
                }

                .wrap {
                    flex-wrap: wrap;
                }

                .fullRow {
                    flex-basis: 100%;
                }

                .sixtyRow {
                    flex-basis: 60%;
                }

    /* Position */

        .absolute {
            position: absolute;
        }

        .relative {
            position: relative;
        }
    
    /* Sizing */

        /* Width */
    
            .half {
                width: 50%;
            }

            .full {
                width: 100%;
            }

            .textContainer {
                width: 80%;
            }

        /* Height */

            .fullHeight {
                height: 100%;
            }

        /* Shapes */
        
            .square {
                width: 30vw;
                height: 30vw;
            }

            .portrait {
                height: 90vh;
                width: 25vw;
            }

    /* Margin/Padding/Border */

        .borderBottom {
            border-bottom: 1px solid var(--darkGrey);
        }

    /* Scroll */

        .scroll {
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: none;
        }

        *::-webkit-scrollbar {
            width: 0;
        }

    /* Background */

        .blue {
            background: var(--lightBlue);
        }

        .ocean {
            background-image: url(https://images.unsplash.com/photo-1524275804141-5e9f2bc5a71d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
            background-size: cover;

            transition: 1000ms;
        }

        .ocean:hover {
            background-position: -.75vw;
        }

    /* Text */

        .centerText {
            text-align: center;
        }
    
        .whiteText {
            color: var(--offWhite);
        }

        /* Adds outline to text to improve readability */
        
        .outline {
            font-weight: 300;
            letter-spacing: .4rem;
            text-shadow: -1px -1px 0 var(--darkGrey), 1px -1px 0 var(--darkGrey), -1px 1px 0 var(--darkGrey), 1px 1px 0 var(--darkGrey);
        }


/* Media queries */

    /* Touchscreen */

        @media(hover: none) {
            .galleryContentItem * {
                opacity: 1;
            }
        }

    /* Smaller laptop */
    
        @media(max-width: 1400px){

            /* Cross site */
            
                /* Navbar */
                
                    .header {
                        font-size: 3.75rem;
                    }
                    
                    nav h3, nav a, label, button {      
                        font-size: 1.8rem;
                    }

                /* Text */

                    p, p a {
                        font-size: 1.125rem;                    }
                
            /* Gallery */
            
                /* Resizes items in gallery to fit three per row */
            
                    .gallerySquare {
                        width: 27.6vw;
                        height: 27.6vw;
                    }

                    .galleryContentItem {
                        margin-bottom: 0.55vw;
                    }

                    .galleryContentItem:nth-of-type(n+1):nth-of-type(-n+3) {
                        margin-top: 0.55vw;
                    }

                    #gallery .galleryContentItem:nth-of-type(4) {
                        margin-top: 0;
                    }

                /* Changes transform origin for items in gallery accordingly */

                    #gallery .galleryContentItem:nth-of-type(3n-2) {
                        transform-origin: left;
                    }

                    #gallery .galleryContentItem:nth-of-type(3n-1) {
                        transform-origin: center;
                    }
    
                    #gallery .galleryContentItem:nth-of-type(3n) {                        
                        transform-origin: right;
                    }

                    #gallery .galleryContentItem:nth-of-type(1) {
                        transform-origin: top left;
                    }

                    #gallery .galleryContentItem:nth-of-type(2) {
                        transform-origin: top;
                    }
        
                    #gallery .galleryContentItem:nth-of-type(3) {
                        transform-origin: top right;
                    }
            
            /* Contact */

                #contactTextSection {
                    width: 40%;
                }

                #formSection {
                    width: 60%;
                }

        }

    /* Tablet */

        @media(max-width: 1200px){

            /* Cross site */
            
                /* Navbar */

                    /* Moves header to left of screen */
                
                        #headerContainer {                          
                            justify-content: flex-start;

                            padding-left: var(--navPadding);
                        }
                
                /* Text */

                    /* Size */
            
                        .header {
                            font-size: 3.5rem;
                        }
                        
                        nav h3, nav a, label, button {      
                            font-size: 1.75rem;
                        }

                
                        p, p a, #contactText p, #contactText p a {
                            font-size: 1.5rem;
                        }
                            
                        h4 {
                            font-size: 1.25rem;
                        }    

                /* Sections */

                    /* Resizes sections for simplified display */
                
                        .tabletFull {
                            width: 100%;
                        }

                        .tabletNone {
                            display: none;
                        }

            /* Index */
            
                /* Changes Index pages to simplified display */
            
                .fullHeight .tabletFull {
                    background-image: url(https://images.unsplash.com/photo-1524275804141-5e9f2bc5a71d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
                    background-size: cover;
                }

                #indexTitle h1, #indexTitle h3 {
                    color: var(--offWhite);
                }

                .tabletFull h1 {
                    font-weight: 100;
                }

            /* About */

                #aboutTextSection {
                    background: none;
                }

                #aboutTextContainer {
                    height: 80%;
                }
            

            /* Contact */

                /* Changes Contact page to simplified display */
            
                #contactMain {
                    flex-direction: column;
                    justify-content: center;
                }

                #contactMain section {
                    width: 100%;
                }

                #contactTextSection {
                    background: none;
                }

                #divider {
                    display: block;
                    
                    width: 80%;
                    
                    margin: .75rem auto 1.25rem;
                    border-top: 1px solid var(--darkGrey);
                    
                    color: rgba(0,0,0,0);
                }

                #formSection {
                    padding: 0 2rem 2rem;
                }

        }

        @media(max-width:1000px){

            /* Cross site */
            
                /* Navbar */

                    /* Hides menu and adds button to toggle display */

                        nav {
                            justify-content: space-between;
                        }
                    
                        #headerContainer {
                            align-items: start;

                            width: 80%;
                        }
                    
                        #menu {
                            position: absolute;
                            
                            top: 0;
                            right: -50%;

                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            width: 50%;
                            height: 100vh;

                            padding: 0;

                            background: var(--lightBlue);

                            z-index: 100;
                        }

                        #menu.menuActive {
                            right: 0;
                        }

                        #menu li {
                            height: 10vh;
                            padding: 7.5vh 0;
                        }

                        #currentPage {
                            border: none;
                        }

                        #menuButton {
                            display: block;

                            z-index: 101;
                        }

                        #menuButton.buttonActive {
                            right: 20vw;
                            color: var(--offWhite);
                        }

                        #headerContainer, main {
                            transition: opacity 1000ms;
                        }

                    /* Styling for menu items in toggled menu */
            
                        nav ul li {
                            transition: 900ms;
                        }

                        nav ul li, nav ul li:hover {
                            border-bottom: none;
                        }

                        nav ul li a {    
                            transition: 300ms;
                        }

                        nav ul li a:hover {
                            color: var(--offWhite);
                        }

                        #currentPage h3 {
                            color: var(--offWhite);
                        }

                        #currentPage:hover {
                            border: none;
                        }

                    /* Text */

                        p, p a, #contactText p, #contactText p a, label {
                            font-size: 1.4rem;
                        }
            
            /* About */

                #aboutTextContainer {
                    height: 85%;
                }

            /* Gallery */
            
                /* Resizes items in gallery to fit two per row */
            
                    .gallerySquare {
                        width: 41.25vw;
                        height: 41.25vw;
                    }

                    .galleryContentItem {
                        margin-bottom: 0.83vw;
                    }    

                    .galleryContentItem:hover {  
                        transform: none;
                    }

                    .galleryContentItem:nth-of-type(n+1):nth-of-type(-n+2) {
                        margin-top: 0.83vw;
                    }

                    #gallery .galleryContentItem:nth-of-type(3) {
                        margin-top: 0;
                    }

        }

        @media(max-width:800px){

            /* Cross site */

                /* Variables */

                    :root {
                        --navPadding: 2.75vw;
                    }
                
                /* Navbar */

                    #menuButton.buttonActive {
                        right: 45vw;
                    }

                    /* Resizes toggled menu to take up whole screen */

                        #menu {
                            right: -100%;
                            
                            width: 100%;
                        }

                /* Text */
                
                    .header {
                        font-size: 3rem;
                    }
                
                    p, p a, #contactText p, #contactText p a, label {
                        font-size: 1.3rem;
                    }
    
            /* Index */

                #indexHeading{
                    font-size: 3.5rem;
                }

                #indexSubheading{
                    font-size: 1.75rem;
                }

            /* Gallery */
            
                /* Resizes items in gallery to fit two per row */
            
                    .gallerySquare {
                        width: 83vw;
                        height: 41.25vw;
                    }

                    .galleryContentItem {
                        margin-bottom: 1vw;
                    }    

                    .galleryContentItem:hover {  
                        transform: none;
                    }

                    .galleryContentItem:nth-of-type(1) {
                        margin-top: 1vw;
                    }

                    #gallery .galleryContentItem:nth-of-type(2) {
                        margin-top: 0;
                    }

            /* About and Contact */



        }

        @media(max-width: 700px){
            
            /* Cross site */

                /* Variables */

                    :root {
                        --navPadding: 3vw;
                    }

                /* Navbar */

                    nav {
                        align-content: center;
                    }
                    
                    .header {
                        font-size: 2.5rem;
                    }

            /* About */

                #aboutTextContainer {
                    height: 90%;
                }
        

        }
        
        @media(max-width: 600px){
            
            /* Cross site */

                /* Cross site */

                    :root{
                        --navPadding: 4vw;
                    }
            
                /* Navbar */
                
                    .header {
                        font-size: 2rem;
                    }

                    #menuButton {
                        font-size: 1.75rem;
                    }

                /* Text */

                    p, p a {
                        font-size: 1.2rem;
                    }

            /* Index */

                #title {
                    padding-left: 10vw;
                }

        }

    /* Mobile */
    
        @media(max-width: 450px){

            /* Cross site */

                /* Variables */

                    :root {
                        --navPadding: 5vw;
                    }

                /* Text */

                    .header {
                        font-size: 1.5rem;
                    }

                    p, p a, #contactText p, #contactText p a, label, button {
                        font-size: 1rem;
                    }

                    #menuButton {
                        font-size: 1.25rem;
                    }

                    h3, a {
                        font-size: 1.5rem;
                    }

                /* Gallery */

                    /* Resizes items in gallery to square */
                    
                    .gallerySquare {
                        height: 83vw;
                    }
                    
        }

        /* Mobile (landscape) */

            @media (orientation: landscape) and (max-height:450px) {
                            
                /* Cross site */

                    /* Navbar */

                        nav {
                            height: 15vh;
                        }

                        main {
                            height: 85vh;
                        }
                
                    /* Text */

                    .header {
                        font-size: 1.5rem;
                    }

                    p, p a {
                        font-size: 1.125rem;
                    }

                /* About */

                    #aboutTextContainer {
                        height: 70vh;
                    }

            }

        /* Text sizes for items in gallery. */

            /* Breakpoints

        Three: 1400
        Two: 1000
        One (rectangle): 800
        One (square): 450
        
        */

            @media (max-width: 1700px) and (min-width: 1500px), (max-width: 1200px) and (min-width: 1100px), (max-width: 900px) and (min-width: 800px), (max-width: 700px) and (min-width: 600px){
                .galleryContentItem h2 {
                    font-size: 1.75rem;
                }
    
                .galleryContentItem h4, .galleryContentItem a {
                    font-size: 1.25rem;
                }
            }

            @media (max-width: 1500px) and (min-width: 1400px), (max-width: 1100px) and (min-width: 1000px), (max-width: 600px){
                .galleryContentItem h2 {
                    font-size: 1.5rem;
                }
    
                .galleryContentItem h4, .galleryContentItem a {
                    font-size: 1rem;
                }
            }

        /* Navbar */

            @media (min-height: 1000px){
                nav {
                    height: 9vh;
                }

                main {
                    height: 91vh;
                }
            }

            @media (min-height: 1100px){
                nav {
                    height: 8vh;
                }

                main {
                    height: 92vh;
                }
            }

            @media (min-height: 1200px){
                nav {
                    height: 7vh;
                }

                main {
                    height: 93vh;
                }
            }

            @media (min-height: 1300px){
                nav {
                    height: 6vh;
                }

                main {
                    height: 94vh;
                }
            }

            @media (min-height: 1400px){
                nav {
                    height: 5vh;
                }

                main {
                    height: 95vh;
                }
            }