* {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  position: absolute;
  top: -20px;
}

a {
  color: black;
  text-decoration: none;
}

footer {
  align-items: center;
  background: red;
  color: white;
  display: flex;
  height: 30px;
  justify-content: center;
  text-align: center;
}

h1 {
  background: khaki;
  color: white;
  font-size: 3rem;
  padding: 2%;
  position: absolute;
  top: 20px;
  width: 40%;
}

h2 {
  color: red;
  margin-bottom: 15px;
}

header {
  align-items: center;
  background: red;
  color: white;
  display: flex;
  height: 60px;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}

hr {
  margin: 0 auto;
  width: 90%;
}

input {
  border: 0;
  border-radius: 50px;
  height: 30px;
  margin-top: 15px;
  text-align: center;
}

input::placeholder {
  color: lightgrey;
}

nav {
  align-items: center;
  background: #F4F6F6;
  display: flex;
  height: 30px;
  justify-content: space-around;
  position: sticky;
  text-align: center;
  top: 60px;
  width: 100%;
}

.badge {
  border: 3px solid white;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 6px;
  text-align: center;
}

.list {
  width: 30%;
}

.logo {
  background: red;
  color: white;
  align-items: stretch;
}

.images {
    display: flex;
    justify-content: space-around;
    padding: 5%;
}

.text {
  padding: 5%;
}

.text p::first-line {
  font-weight: bold;
}

#join {
  background: #F4F6F6;
  padding: 5%;
  text-align: center;
}

#line1 {
  font-size: 2.5rem;
}

#top {
  background-image: url("Images/banner.png");
  background-size: contain;
  height: 325px;
  margin-top: 60px;
  position:relative;
